:root {
  /* Fonts */
  --main-font: "Roboto";
  --logo-font: "Raleway";
  /* Colors */
  --color-iris: rgba(77, 90, 229, 1);
  --color-ocean: rgba(64, 75, 191, 1);
  --color-navy-blue: rgba(46, 47, 66, 1);
  --color-green: rgba(49, 208, 170, 1);
  --color-slate: rgba(67, 68, 85, 1);
  --color-light-slate: rgba(142, 143, 153, 1);
  --color-cornflower: rgba(231, 233, 252, 1);
  --color-cloud: rgba(244, 244, 253, 1);
  --color-navy-blue-modal: rgba(46, 47, 66, 0.4);
  --color-grey: rgba(46, 47, 66, 0.7);
  --color-white: rgba(255, 255, 255, 1);
  --color-dairy: rgba(252, 252, 252, 1);
}
*/ 

 


body {
  font-size: 16px;
  font-family:var(--main-font),sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  color: var(--color-slate) ;
  background-color: var(--color-white)
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link {
  text-decoration: none;
  color: var(--color-navy-blue);
  
}
.address-link{
  text-decoration: none;
  color: var(--color-slate);
}
.link:hover,
link:focus{
color: var(--color-iris);
}



.list {
  list-style-type: none;
}
/**
  |============================
  | Header
  |============================
*/
.header {
  width: 1440px;
  height: 72px;
  left: 21px;
  top: 0px;
  background-color: var(--color-white);
  font-style: normal;
}
.header-nav {
}
.header-link {width: 44px;
  height: 21px;
  font-family: "Raleway",sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.logo-text {
  width: 71px;
  height: 21px;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--color-navy-blue);
}
.header-list {
  display: inline-flex;
  padding: 0px;
  gap: 24px;
}
.header-item {
  width: 48px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.contact {font-style: normal;
}
.contact-list {
  
  display: inline-flex;
  color: var(--color-slate);
}
.contact-mail {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 949px;
  top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em
  color: var(--color-slate);
}
.contact-tel {
  position: absolute;
  width: 151px;
  height: 24px;
  left: 1142px;
  top: 30px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);

}

/**
  |============================
  | Hero Section
  |============================
*/
.hero-section {
  position: absolute;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 150px;
  background-color: var(--color-navy-blue);
  text-align: center;
  color: var(--color-white);
}
.main-title {
  font-size: 56px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}  
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  position: absolute;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  color: var(--color-white);
  background-color: var(--color-iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover{background-color:var(--color-ocean)}
.btn:focus {
  background-color: var(--color-ocean);
}
/**
  |============================
  | Description
  |============================
*/
.desc-section {
  position: absolute;
  width: 1128px;
  height: 104px;
  left: 156px;
  top: 792px;
  letter-spacing: 0.02em;
}
.desc-list {
  display: inline-flex;
}
.desc-item { 
}
.desc-title {
  width: 264px;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-navy-blue);
  flex: none;
  order: 0;
  flex-grow: 0;
  text-transform: capitalize;
}
.desc-text {
  width: 264px;
  height: 72px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/**
  |============================
  | About Section
  |============================
*/
.about-section {
  position: absolute;
  width: 1128px;
  height: 412px;
  left: 156px;
  top: 1016px;
}
.about-title {
  width: 323px;
  height: 40px;
  left: 559px;
  top: 1016px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}
.about-list {
  display: inline-flex;
}
.about-item {
  padding: 0px;
  width: 360px;
  height: 300px;
  left: 156px;
  top: 1128px;
}
.about-img {
}
/**
  |============================
  | Team Section
  |============================
*/
.team-section {
  position: absolute;
  width: 1440px;
  height: 732px;
  left: 0px;
  top: 1548px;
  background-color: var(--color-cloud);
}
.section-title {
  width: 162px;
  height: 40px;
  left: 639px;
  top: 1668px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}
.team-list {
  display: inline-flex;
  padding: 0px 100px 32px;
  gap: 24px;
}
.team-item {
  width: 264px;
  height: 380px;
  left: 444px;
  top: 1780px;
  background: var(--color-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-img {
}
.subtitle {
  width: 134px;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.small-text {
  width: 128px;
  height: 24px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/**
  |============================
  | Footer
  |============================
*/
.footer {
  position: absolute;
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 2280px;
  background-color: var(--color-navy-blue)
 
}
.footer-link {
  display: inline-flex;
}
.footer-logo-text {
  width: 71px;
  height: 21px;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-cloud);
  flex: none;
  order: 1;
  flex-grow: 0;
}
.footer-text {
  width: 264px;
  height: 72px;
  left: 156px;
  top: 2420px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-cloud);
}

/**
  |============================
  | Portfolio
  |============================
*/
.nav-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 586px;
  height: 48px;
  left: 427px;
  top: 168px;
  
}
.main-btn {
  cursor: pointer;
  width: 116px;
  height: 48px;
  background: var(--color-cloud);
  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
  color: var(--color-iris);
  font-weight: 500;
}
.first-main-btn {
  width: 69px;
  height: 48px;
  background-color: var(--color-ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
  color: var(--color-white);
  font-weight: 500;
}
.row-section {
  display: inline-flex;
}
.first-row-list {
  width: 1128px;
  height: 420px;
  left: 156px;
  top: 288px;
}
.row-title {
  width: 290px;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-navy-blue);
}
.row-text {
  width: 30px;
  height: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-slate);
}
